<?xml version="1.0"?>
<!--
/**
 * Magecom Repair extension
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * @category    Magecom
 * @package     Magecom_Core
 * @author      Aleksandr Drobot, <adrobot@magecom.net>
 * @copyright   Copyright (c) 2016 Magecom.net
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
    <modules>
        <Magecom_Core>
            <version>1.0.0</version>
        </Magecom_Core>
    </modules>
    
    <global>
        <helpers>
            <magecom_core>
                <class>Magecom_Core_Helper</class>
            </magecom_core>
        </helpers>

        <models>
            <magecom_core>
                <class>Magecom_Core_Model</class>
            </magecom_core>
        </models>

        <resources>
            <magecom_core_setup>
                <setup>
                    <module>Magecom_Core</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </magecom_core_setup>
        </resources>
    </global>
</config> 