<?xml version="1.0"?>
<!--
/**
 * Magecom ImportExport extension
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * @category    Magecom
 * @package     ImportExport
 * @author      Aleksandr Drobot, <adrobot@magecom.net>
 * @copyright   Copyright (c) 2016 Magecom.net
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
    <modules>
        <Magecom_ImportExport>
            <version>1.0.0</version>
        </Magecom_ImportExport>
    </modules>

    <global>
        <helpers>
            <magecom_importexport>
                <class>Magecom_ImportExport_Helper</class>
            </magecom_importexport>
        </helpers>
        <blocks>
            <importexport>
                <class>Magecom_ImportExport_Block</class>
            </importexport>
        </blocks>

        <models>
            <magecom_importexport>
                <class>Magecom_ImportExport_Model</class>
                <resourceModel>magecom_importexport_resource</resourceModel>
            </magecom_importexport>

            <magecom_importexport_resource>
                <class>Magecom_ImportExport_Model_Resource</class>
                <entities>
                    <importdata>
                        <table>magecom_importexport_importdata</table>
                    </importdata>
                </entities>
            </magecom_importexport_resource>

            <magecom_importexport>
                <rewrite>
                    <import>Magecom_ImportExport_Model_Import</import>
                </rewrite>
            </magecom_importexport>

            <!--<core>-->
                <!--<rewrite>-->
                    <!--<mage_core_model_abstract>Magecom_ImportExport_Model_Import_Adapter_Abstract</mage_core_model_abstract>-->
                <!--</rewrite>-->
            <!--</core>-->
        </models>

        <resources>
            <magecom_importexport_setup>
                <setup>
                    <module>Magecom_ImportExport</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </magecom_importexport_setup>
        </resources>

        <magecom_importexport module="magecom_importexport">
            <import_entities>
                <catalog_product translate="label">
                    <model_token>magecom_importexport/import_entity_product</model_token>
                    <label>Products</label>
                </catalog_product>
            </import_entities>
        </magecom_importexport>
    </global>

    <admin>
        <routers>
            <magecom_importexport>
                <use>admin</use>
                <args>
                    <module>Magecom_ImportExport</module>
                    <frontName>magecom_importexport</frontName>
                </args>
            </magecom_importexport>
        </routers>
    </admin>

    <adminhtml>
        <layout>
            <updates>
                <magecom_importexport>
                    <file>magecom/importexport.xml</file>
                </magecom_importexport>
            </updates>
        </layout>
    </adminhtml>
</config>